@font-face{
    font-family: 'Sixtyfour Convergence';
    src: url('./assets/fonts/SixtyfourConvergence-Regular-VariableFont_BLED,SCAN,XELA,YELA.ttf');
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 77,
      "SCAN" -91,
      "XELA" -64,
      "YELA" 64;
}

@font-face{
    font-family: 'LondrinaScetch';
    src: url('./assets/fonts/LondrinaSketch-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face{
  font-family: 'BayMax';
  src: url('./assets/fonts/Baymax.otf');
  font-weight: 400;
  font-style:normal;
}

.Baymax_xs,
.Baymax_xl {
  font-family: 'BayMax';
  font-size: 28px;
}
.Baymax_xs a,
.Baymax_xl a {
  color: #0dafff;
  text-decoration: none;
}
.Baymax_xs a:hover {
  color: #05f769;
}
.Baymax_xl {
  font-size: 42px;
  transition: font-size 1s ease-out;
}

.sixtyfour-convergence-custom {
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 1,
      "SCAN" 1,
      "XELA" -64,
      "YELA" 24;
}

body {
    font-family: 'Sixtyfour Convergence', sans-serif; /* Пример шрифта */
    background-color: #f0f0f0;
}

#app {
    padding: 20px;
}
