#bag{
    width: 200px;
    height: 500px;
    margin: 0 auto;
    background: url('/vue-project/vue-project/src/assets/img/bag.png') center no-repeat;
    background-size: 80%;
}

#bag.burst{
    background-image: url('/vue-project/vue-project/src/assets/img/bag-burst.png');
}

#bag-health{
    position: relative;
    width: 200px;
    border: 2px solid #000;
    margin: 0 auto 20px auto;
}

#bag-health div{
    height: 20px;
    background: linear-gradient(to right, crimson, yellow, green);
}

#bag-health #health-less {
    position: absolute;
    z-index: 3;
    top: 0;
    right: -1px;
    height: 100%;
    width: 0px;
    background: none;
    background-color: black;
}

#controls{
    width: 170px;
    margin: 0 auto;
}
#controls button {
    padding: 10px 20px;
}
#controls.onRestart {
    text-align: center;
}
.main-container {
    position: relative;
}
.game-settings {
    --persent-xs: 10%;
    position: absolute;
    top: 20%;
    right: var(--persent-xs);
    padding: 22px;
    max-width: 200px;
    width: 100%;
    border-width: 2px;
    border-radius: 8px;
    border-style: dotted;
    border-color: darkseagreen;
    @media(max-width: 960px){
        right: calc(80% - var(--persent-xs));
        font-family: Arial;
        max-width: 100px;
    }
    @media(max-width: 600px){
        right: calc(76% - var(--persent-xs));
    }
    @media(max-width: 500px){
        position: static;
        margin: auto;
        margin-bottom: 20px;
        padding: 10px;
        max-width: 175px;
        width: auto;
    }
}
.game-settings label {
    display: block;
    margin-bottom: 15px;
    @media(max-width: 500px){
        display: inline-block;
        padding-right: 15px;
        margin-bottom: 0;
    }
}

.game-settings input {
    width: 100%;
    box-sizing: border-box;
    @media(max-width: 500px){
        max-width: 50px;
    }
}