
.btn-div {
    text-align: center;
}
.btn-div button {
    padding: 10px 42px;
    font-size: 26px;
    border: none;
    background: linear-gradient(94deg, #ffa200 80%, #ffdd0e 87%, #ffa200 90%);
    border-radius: 8px;
}

.superClass {
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 90,
      "SCAN" 90,
      "XELA" 64,
      "YELA" -64;
    transition: all 2.4s ease-out;
}

.btn-div button.toggle-class-1 {
    background: linear-gradient(94deg, #ffa200 5%, #ffdd0e 12%, #ffa200 20%);
}


#spec-btns {
    font-family: cursive;
    font-size: 30px;
}
#spec-btns button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: beige;
    border-radius: 12px;
}
#spec-btns h1 {
    color: orange;
}
#canvas{
    width: 600px;
    padding: 200px 20px;
    text-align: center;
    border: 1px solid #333;
}
.red{
    color: red;
}
.blue{
    color: blue;
}
.available {
    display: flex;
    background: linear-gradient(to right, blue, red); /* Задание градиента */
    -webkit-background-clip: text; /* Обрезка фона по тексту для WebKit-браузеров */
    background-clip: text; /* Обрезка фона по тексту */
    color: transparent; /* Прозрачный текст для видимости фона */
    width: fit-content;
}

/* Usual buttons */
#L9-item {
    margin-bottom: 50px;
}
#L9-item button {
    padding: 10px 20px;
    font-family:'Baymax';
    color: white;
    font-size: 20px;
    background: linear-gradient(to right, #000051, #606101);
    border-radius: 12px;
}
#L9-item p {
    font-family:'Baymax';
    font-size: 1.5em;
    font-color: red;
    stroke: 1px solid black;
}